<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Write new chat..</h3>
    <form method="POST" action="/new">
        <input type="text" placeholder="Your name" name="from"><br>
        <textarea name="msg" id="msg">Write message....</textarea><br>
        <input type="text" placeholder="Receiver name" name="to"><br>
        <button>Create</button>


    </form>
</body>
</html>